services:
  postgres-anon:
    image: registry.gitlab.com/dalibo/postgresql_anonymizer:latest
    container_name: anonpg_benchmark
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres}
      POSTGRES_DB: benchmark
      PGDATA: /var/lib/postgresql/data/pgdata
      POSTGRES_INITDB_ARGS: "-c anon.transparent_dynamic_masking=on"
    ports:
      - "5432:5432"
    volumes:
      - ./sql:/sql
      - ./data:/data
      - pg_data:/var/lib/postgresql/data
    command: >
      postgres
      -c shared_preload_libraries='pg_stat_statements,anon'
      -c session_preload_libraries='anon'
      -c anon.transparent_dynamic_masking=on
      -c pg_stat_statements.track=all
      -c max_parallel_workers_per_gather=4
      -c work_mem=256MB
      -c maintenance_work_mem=512MB
      -c random_page_cost=1.1
    shm_size: 2g

volumes:
  pg_data: